body {
    margin: 0;
    min-height: 100vh;
}
#bleh {
    display: flex;
    flex-direction: column;
}
.pgr {
    background: #2e0040;
}
.ps {
    background: #50245d;
}
#title {
    color: white;
}
h1, h2, h3, h4, h5, h6, p {
    color: white;
}
html, body, h1, h2, h3, h4, h5, h6, div {
    padding: 0;
    border: 0;
    margin: 0;
}
div.collapsible-header {
    background-color: black;
    color: white;
}
li.collection-item {
    background-color: black !important;
    color: white !important;
}
code {
    background-color: grey;
}
.purp {
    background-color: rgb(46, 0, 64) !important;
}
.dropdown-content li>a {
    color: #2e0040
}
.dropdown-content li>span {
    color: #2e0040;
}
.side-nav {
    position: fixed;
    width: 200px;
    background-color: #28122e;
}
.side-nav li>a {
    color: rgba(255, 255, 255, 0.87);
}
.side-nav li>a>i.material-icons {
    color: rgba(255, 255, 255, 0.54);
    margin: 0 0px 0 0;
}
.dropdown-content li>a {
    color: #2e0040;
}
