<html style="flex: 1 0 auto;">
    <head>
        <link rel="stylesheet" href="/js/materialize.min.css">
        <link rel="stylesheet" href="/css/Default.css">
        <link rel="icon" href="/js/Tux.png">
        <script>var _bftn_options = { theme: 'glitch' };</script><script src="https://widget.battleforthenet.com/widget.js" async></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/materialize.min.js" async></script>
        <title>{{.Title}}</title>
    </head>
    <body>
        <div id="bleh" style="padding: 0;border: 0;margin: 0;">
            <header>
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="/Developing.html">Developing</a></li>
                <li><a href="/Package%20Generator.html">Package Generator</a></li>
            </ul>
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="/Developing.html">Developing</a></li>
                <li><a href="/Package%20Generator.html">Package Generator</a></li>
            </ul>
                <nav class="purp" id="nav">
                    <div class="nav-wrapper container">
                        <a href="/" class="brand-logo center hide-on-med-and-down"><img src="/js/Panux Logo.png" height=100%></img></a>
                        <a href="/" class="right hide-on-med-and-up show-on-medium-and-down"><img src="/js/Panux Logo.png" height=100% class="responsive-img"></img></a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="/Home.html">Home</a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Development<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a href="/Community.html">Community</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <script>
                                $( document ).ready(function(){$(".button-collapse").sidenav();})
                            </script>
                            <li><a href="/Home.html">Home</a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Development<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a href="/Community.html">Community</a></li>
                        </ul>
                        <h2 font-family:"Verdana", class="header center-on-small-only", id="Title">{{.Title}}</h2>
                    </div>
                </nav>
            </header>
            <div class="ps" id="pg">
                <div class="container col s12">
                            {{.Page}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            (window.onresize = function() {
                document.getElementById('pg').style.minHeight = window.innerHeight - document.getElementById('pg').offsetTop;
            })();
        </script>
    </body>
</html>
