<html style="flex: 1 0 auto;">
    <head>
        <link rel="stylesheet" href="/js/materialize.min.css">
        <link rel="icon" href="/js/Tux.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/materialize.min.js" async></script>
        <style>
            body {
                margin: 0;
                min-height: 100vh;
            }
            #bleh {
                display: flex;
                flex-direction: column;
            }
            .pgr {
                background: purple; /* fallback */
                background: -webkit-linear-gradient(white, purple); /* Safari */
                background: -o-linear-gradient(white, purple); /* Opera */
                background: -moz-linear-gradient(white, purple); /* Firefox */
                background: linear-gradient(white, purple); /* Standard */
            }
            .ps {
                background: purple;
            }
            #title {
                color: black;
            }
            h1, h2, h3, h4, h5, h6, p {
                color: white;
            }
            html, body, h1, h2, h3, h4, h5, h6, div {
                padding: 0;
                border: 0;
                margin: 0;
            }
            div.collapsible-header {
                background-color: black;
                color: white;
            }
            li.collection-item {
                background-color: black !important;
                color: white !important;
            }
            code {
                background-color: grey;
            }
        </style>
        <title>{{.Title}}</title>
    </head>
    <body>
        <div id="bleh" style="padding: 0;border: 0;margin: 0;">
            <header>
                <nav class="indigo accent-3" id="nav">
                    <div class="nav-wrapper container">
                        <a href="/" class="brand-logo"><img src="/js/Panux Logo.png" height=100%></img></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="/Home.html">Home</a></li>
                            <li><a href="/Developing.html">Developing</a></li>
                            <li><a href="/Community">Community</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="pgr" id="title">
    			<div class="row container">
                    <h1 font-family:"Verdana", class="header center-on-small-only", id="Title">{{.Title}}</h1>
                </div>
            </div>
            <div class="ps" id="pg">
                <div class="container col s12">
                        <div class="card black full" height=100%>
                            {{.Page}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            (window.onresize = function() {
                document.getElementById('pg').style.minHeight = window.innerHeight - document.getElementById('pg').offsetTop;
            })();
        </script>
    </body>
</html>
